body {
  /*background-color: cornsilk;*/

  font-family: sans-serif;
}

.menu {
  height: 100%;
  width: 20em;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 1em;
  padding-left: 2em;
  background-color: grey;
}

.analytics-panel {
  height: 100%;
  width: 50em;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  overflow-x: hidden;
  padding-top: 1em;
  padding-left: 2em;
  background-color: grey;
}

.deck-mat {
  margin-left: 20em;
  padding-left: 2em;
}

.deck {
  display: inline-block;

  margin: 1em;

  background-color: #efefef;
  border: 1px solid #ccc;
  border-radius: 0.5em;

  min-width: 10em;
  vertical-align: top;
}

.deck-header {
  overflow: auto;

  padding: 1em;

  color: #efefef;
  background-color: #333;

  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

.deck-name {
  float: left;
}


.deck-delete {
  float: right;

  margin-left: 0.5em;

  visibility: hidden;
}
.deck-header:hover .deck-delete {
  visibility: visible;
}

.add-deck {
  cursor: pointer;

  background-color: #fdfdfd;
  border: 1px solid #ccc;
}

.deck-delete button {
  padding: 0;

  cursor: pointer;

  color: white;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
}

.add-card-wrapper:hover {
  overflow: auto;

  margin: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;

  background-color: #fdfdfd;
  box-shadow: 0 0 0.3em .03em rgba(0,0,0,.3);

  transition: .6s
}

.add-card {
  text-align: center;
  margin: 1em; 
  font-size: 10pt;
}

/* .card-box {
  margin: 0.5em;
  padding-left: 0;

  max-width: 10em;
} */

.card-list {
  padding-top: 1em;
  list-style: none;
}

/* .card {
  padding-bottom: 1em;
} */
