body {
  /*background-color: cornsilk;*/

  font-family: sans-serif;
}

.menu {
  height: 100%;
  width: 20em;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 1em;
  padding-left: 2em;
  background-color: grey;
}

.analytics-panel {
  height: 100%;
  width: 50em;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  overflow-x: hidden;
  padding-top: 1em;
  padding-left: 2em;
  background-color: grey;
}

.deck-mat {
  margin-left: 20em;
  padding-left: 2em;
}

.deck {
  display: inline-block;

  margin: 1em;

  background-color: #efefef;
  border: 1px solid #ccc;
  border-radius: 0.5em;

  min-width: 10em;
  vertical-align: top;
}

.deck-header {
  overflow: auto;

  padding: 1em;

  color: #efefef;
  background-color: #333;

  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

.deck-name {
  float: left;
}


.deck-delete {
  float: right;

  margin-left: 0.5em;

  visibility: hidden;
}
.deck-header:hover .deck-delete {
  visibility: visible;
}

.add-deck {
  cursor: pointer;

  background-color: #fdfdfd;
  border: 1px solid #ccc;
}

.deck-delete button {
  padding: 0;

  cursor: pointer;

  color: white;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
}

.card-list {
  padding-top: 1em;
  list-style: none;
  max-width: 60%;
}

.menu-section {
  height: 100%;
  width: 30em;
  position: fixed;
  z-index: 1;
  top: 3.5em;
  left: 0;
  overflow-x: hidden;
  padding-top: 1em;
  padding-left: 2em;
  background: #E1E8ED;
} 

.selector-section {
  padding-top: 1em;
}

.selector-with-label {
  padding-bottom: 1em;
}

.selector-label {
  border: 1px grey !important;
  cursor: default !important;
  color: black !important;
  width: 5em;
  font-weight: bold;
  background: #A7B6C2 !important;
}

.card-section {
  padding-left: 30em;
}

.magic-card {
  padding-top: 1em;
}

.card-image {
  text-align: right;
}

.card-header-more {
  float: right;
}

.card-info {
  vertical-align: top;
  width: 40em;
}

.card-property {
  padding-top: 1em;
}


